<div class="jumbotron centered">
  <div class="container">
    <i class="fas fa-recycle fa-6x text-success"></i>
    <h1 class="display-3">"Act Now, Sustain Tomorrow"</h1>
    <p class="lead">Your small steps today can lead to a cleaner, greener planet!</p>
    <hr>
    <div class="facts bg-light p-4 rounded">
      <h3>Did You Know?</h3>
      <ul>
        <li>Over 2 billion tons of waste are generated globally each year, and less than 20% is recycled.</li>
        <li>Plastic waste takes up to 1,000 years to decompose in landfills.</li>
        <li>By 2050, there could be more plastic in the ocean than fish, by weight.</li>
        <li>Proper waste management can reduce greenhouse gas emissions and combat climate change.</li>
      </ul>
    </div>
    <div class="mt-4">
      <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
      <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>
    </div>
  </div>
</div>
